Source: bootstrap-vz
Section: admin
Priority: optional
Maintainer: Debian Cloud Team <cloud-packages@lists.alioth.debian.org>
Uploaders: Marcin Kulisz (kuLa) <debian@kulisz.net>,
           Tiago Ilieve <tiago.myhro@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-setuptools,
               python-sphinx
Standards-Version: 3.9.7
X-Python-Version: >= 2.7
Homepage: https://github.com/andsens/bootstrap-vz
Vcs-Git: https://anonscm.debian.org/git/cloud/bootstrap-vz.git
Vcs-Browser: https://anonscm.debian.org/git/cloud/bootstrap-vz.git

Package: bootstrap-vz
Architecture: all
Depends: debootstrap,
         python-boto,
         python-docopt,
         python-fysom,
         python-jsonschema,
         python-termcolor,
         python2-pyro4,
         ${misc:Depends},
         ${python:Depends}
Recommends: qemu-utils
Suggests: bootstrap-vz-doc,
          euca2ools,
          kpartx,
          parted,
          virtualbox-guest-additions-iso,
          zerofree
Description: Tool for creating Debian images for cloud platforms
 It's a software for creating Debian images to run on public or private clouds
 (Amazon, Google, OpenStack, Eucaliptus, etc).
 It's using bootstraping as a method for creating images. Images created by this
 tool are fully operational Debian Images for Cloud.

Package: bootstrap-vz-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
         ${sphinxdoc:Depends}
Description: Tool for creating Debian images for cloud platforms (Docs)
 It's a software for creating Debian images to run on public or private clouds
 (Amazon, Google, OpenStack, Eucaliptus, etc).
 It's using bootstraping as a method for creating images. Images created by this
 tool are fully operational Debian Images for Cloud.
 .
 This package contains the HTML documentation.
